<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzing data .....</title>
</head>
<body>
    <h2>Analyzed data - {{purpose }}</h2>
    <p>
        RAW data : 
        <textarea name="mytext" id="mytext" cols="30" rows="10" width="1512px;" height="200px;" style="width: 1513px; height: 189px;"> {{ rawdata }}  </textarea>

        
    </p>
    <p>
        <h4>Ananlyzed text : </h4>{{analyzed_text}}
    </p>
    <hr>
    <a href="/"><button> Back</button></a>
</body>
</html>