<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
    <h1 center >This is text Anlyzer</h1>
    <form action="/analyze" method="GET">
        <textarea name="mytext" id="mytext" cols="30" rows="10" width="1512px;" height="200px;" style="width: 1513px; height: 189px;"></textarea>
        <input type="radio" name="removepunc" id="removepunc"> Remove Punchuation
        <input type="radio" name="allcaps" id="allcaps"> All Caps
        <input type="radio" name="allsmall" id="allsmall"> All small
        <input type="radio" name="removeline" id="allsmall"> Remove Newline
        <input type="radio" name="removespace" id="removespace"> Remove Extra Space
        <input type="radio" name="charcount" id="charcount"> Character Counter
        
        <hr>
        <button type="submit"> Analyze</button>
        <button type="reset">Reset</button>

    </form>
</body>
</html>